body {
    background-image: url(/images/head-treasure-flower-disk-flowers-inflorescence-ray.webp);
}

.container{
    display: flex;
    flex-direction: row;
    flex: 0 1 0%;
    /* this is a short hand of writing flex grow, flex shrink and flex basic */
    gap: 10px;
   
}

.one{
    background-color: whitesmoke;
    text-align: center;
    /* flex-shrink: 2; */
}
.two{
    background-color: bisque;
    text-align: center;
    /* flex-shrink: 3; */
}
.three{
    background-color: azure;
    text-align: center;
    /* flex-shrink: 2; */
}
.four{
    background-color: blanchedalmond;
    text-align: center;
    /* flex-shrink: 1; */

}
.five{
    background-color: aliceblue;
    text-align: center;
    /* flex-shrink: 3; */
}